$colorColorPrimary: #2c817e;    
$colorColorError: #bb4e00;    
$colorColorSecondary: #277976;    
$colorColorTertiary: #f26432;    
$colorSurfaceTint: #006a67;    
$colorBackground: #f4fbf9;    
$colorOnBackground: #161d1c;    
$colorSurfaceVariant: #dae5e3;    
$colorMetriaBpudding: #451c2d;    
$colorColorPrimary100: #ffffff;    
$colorColorSecondary100: #ffffff;    
$colorColorTertiary100: #ffffff;    
$colorColorErrorError100: #ffffff;    
$colorColorErrorError99: #fffbff;    
$colorColorErrorError98: #fff8f7;    
$colorColorErrorError95: #ffedea;    
$colorColorErrorError90: #ffdad6;    
$colorColorErrorError80: #ffb4ab;    
$colorColorErrorError70: #ff897d;    
$colorColorErrorError60: #ff5449;    
$colorColorErrorError50: #de3730;    
$colorColorErrorError40: #ba1a1a;    
$colorColorErrorError35: #a80710;    
$colorColorErrorError30: #93000a;    
$colorColorErrorError25: #7e0007;    
$colorColorErrorError20: #690005;    
$colorColorErrorError15: #540003;    
$colorColorErrorError10: #410002;    
$colorColorErrorError5: #2d0001;    
$colorColorErrorError0: #000000;    
$colorColorNeutralNeutral100: #ffffff;    
$colorColorNeutralVariant100: #ffffff;    
$colorColorNeutralVariant99: #f8fdfc;    
$colorColorNeutralVariant98: #f5fbf9;    
$colorColorNeutralVariant95: #ecf2f1;    
$colorColorNeutralVariant90: #dee4e2;    
$colorColorNeutralVariant80: #c2c8c7;    
$colorColorNeutralVariant70: #a6acab;    
$colorColorNeutralVariant60: #8c9291;    
$colorColorNeutralVariant50: #727877;    
$colorColorNeutralVariant40: #59605f;    
$colorColorNeutralVariant35: #4d5453;    
$colorColorNeutralVariant30: #424847;    
$colorColorNeutralVariant25: #363d3c;    
$colorColorNeutralVariant20: #2b3231;    
$colorColorNeutralVariant15: #212726;    
$colorColorNeutralVariant10: #171d1c;    
$colorColorNeutralVariant5: #0c1212;    
$colorColorNeutralVariant0: #000000;    
$colorColorNeutralNeutral99: #fcfcfb;    
$colorColorNeutralNeutral98: #f9f9f8;    
$colorColorNeutralNeutral95: #f0f1f0;    
$colorColorNeutralNeutral90: #e2e3e2;    
$colorColorNeutralNeutral80: #c6c7c6;    
$colorColorNeutralNeutral70: #aaabab;    
$colorColorNeutralNeutral60: #8f9190;    
$colorColorNeutralNeutral50: #767777;    
$colorColorNeutralNeutral40: #5d5f5e;    
$colorColorNeutralNeutral35: #515352;    
$colorColorNeutralNeutral30: #454747;    
$colorColorNeutralNeutral25: #3a3c3b;    
$colorColorNeutralNeutral20: #2f3130;    
$colorColorNeutralNeutral15: #242626;    
$colorColorNeutralNeutral10: #1a1c1c;    
$colorColorNeutralNeutral5: #0f1111;    
$colorColorNeutralNeutral0: #000000;    
$colorColorTertiary99: #fdfcff;    
$colorColorTertiary98: #f8f9ff;    
$colorColorTertiary95: #e9f1ff;    
$colorColorTertiary90: #d5e4fa;    
$colorColorTertiary80: #b9c8dd;    
$colorColorTertiary70: #9eacc1;    
$colorColorTertiary60: #8492a6;    
$colorColorTertiary50: #6a788b;    
$colorColorTertiary40: #515f72;    
$colorColorTertiary35: #465465;    
$colorColorTertiary30: #3a4859;    
$colorColorTertiary25: #2f3c4d;    
$colorColorTertiary20: #233142;    
$colorColorTertiary15: #192737;    
$colorColorTertiary10: #0e1c2c;    
$colorColorTertiary5: #031221;    
$colorColorTertiaryTertiary0: #000000;    
$colorColorSecondary99: #f2fffd;    
$colorColorSecondary98: #ebfdfb;    
$colorColorSecondary95: #e2f4f2;    
$colorColorSecondary90: #d4e6e4;    
$colorColorSecondary80: #b8cac8;    
$colorColorSecondary70: #9dafad;    
$colorColorSecondary60: #839493;    
$colorColorSecondary50: #6a7a79;    
$colorColorSecondary40: #516260;    
$colorColorSecondary35: #455654;    
$colorColorSecondary30: #3a4a49;    
$colorColorSecondary25: #2e3e3d;    
$colorColorSecondary20: #243332;    
$colorColorSecondary15: #192928;    
$colorColorSecondary10: #0e1e1d;    
$colorColorSecondary5: #041313;    
$colorColorSecondary0: #000000;    
$colorColorExtendedMetriaOrange: #ac3400;    
$colorColorExtendedOnMetriaOrange: #ffffff;    
$colorColorExtendedMetriaOrangeContainer: #ff7140;    
$colorColorExtendedOnMetriaOrangeContainer: #230500;    
$colorColorPrimary99: #f2fffd;    
$colorColorPrimary98: #e3fffd;    
$colorColorPrimary95: #affffb;    
$colorColorPrimary90: #a0f1ed;    
$colorColorPrimary80: #84d4d0;    
$colorColorPrimary70: #69b8b5;    
$colorColorPrimary60: #4d9d9a;    
$colorColorPrimary50: #2f8380;    
$colorColorPrimary40: #026a67;    
$colorColorPrimary35: #005d5a;    
$colorColorPrimary30: #00504e;    
$colorColorPrimary25: #004341;    
$colorColorPrimary20: #003735;    
$colorColorPrimary15: #002b2a;    
$colorColorPrimary10: #00201f;    
$colorColorPrimary5: #001413;    
$colorColorPrimary0: #000000;    
$colorColorExtendedHackday: #2c817e;    
$colorPrimary: $colorColorPrimary40;    
$colorOnPrimary: $colorColorPrimary100;    
$colorPrimaryContainer: $colorColorPrimary90;    
$colorOnPrimaryContainer: $colorColorPrimary10;    
$colorSecondary: $colorColorSecondary40;    
$colorOnSecondary: $colorColorSecondary100;    
$colorSecondaryContainer: $colorColorSecondary90;    
$colorOnSecondaryContainer: $colorColorSecondary10;    
$colorTertiary: $colorColorTertiary40;    
$colorOnTertiary: $colorColorTertiary100;    
$colorTertiaryContainer: $colorColorTertiary90;    
$colorOnTertiaryContainer: $colorColorTertiary10;    
$colorError: $colorColorErrorError40;    
$colorOnError: $colorColorErrorError100;    
$colorErrorContainer: $colorColorErrorError90;    
$colorOnErrorContainer: $colorColorErrorError10;    
$colorSurface: $colorColorNeutralNeutral98;    
$colorOnSurface: $colorColorNeutralNeutral10;    
$colorOnSurfaceVariant: $colorColorNeutralVariant30;    
$colorOutline: $colorColorNeutralVariant50;    
$colorOutlineVariant: $colorColorNeutralVariant80;    
$colorShadow: $colorColorNeutralNeutral0;    
$colorScrim: $colorColorNeutralNeutral0;    
$colorInverseSurface: $colorColorNeutralNeutral20;    
$colorInverseOnSurface: $colorColorNeutralNeutral95;    
$colorInversePrimary: $colorColorPrimary80;    
$colorPrimaryFixed: $colorColorPrimary90;    
$colorOnPrimaryFixed: $colorColorPrimary10;    
$colorPrimaryFixedDim: $colorColorPrimary80;    
$colorOnPrimaryFixedVariant: $colorColorSecondary30;    
$colorSecondaryFixed: $colorColorSecondary90;    
$colorOnSecondaryFixed: $colorColorSecondary10;    
$colorSecondaryFixedDim: $colorColorSecondary80;    
$colorOnSecondaryFixedVariant: $colorColorSecondary30;    
$colorTertiaryFixed: $colorColorTertiary90;    
$colorOnTertiaryFixed: $colorColorTertiary10;    
$colorTertiaryFixedDim: $colorColorTertiary80;    
$colorOnTertiaryFixedVariant: $colorColorTertiary30;    
$colorSurfaceDim: $colorColorNeutralNeutral90;    
$colorSurfaceBright: $colorColorNeutralNeutral98;    
$colorSurfaceContainerLowest: $colorColorNeutralNeutral100;    
$colorSurfaceContainerLow: $colorColorNeutralNeutral95;    
$colorSurfaceContainer: $colorColorNeutralNeutral95;    
$colorSurfaceContainerHigh: $colorColorNeutralNeutral90;    
$colorSurfaceContainerHighest: $colorColorNeutralVariant90;    
