
:root {
    --shadowM3ElevationLight1: 0 1px 3px 1px rgba(0,0,0,0.15);  
    --shadowM3ElevationLight12: 0 1px 2px 0 rgba(0,0,0,0.3);  
    --shadowM3ElevationLight3: 0 1px 3px 0 rgba(0,0,0,0.3);  
    --shadowM3ElevationLight32: 0 4px 8px 3px rgba(0,0,0,0.15);  
    --shadowM3ElevationLight2: 0 2px 6px 2px rgba(0,0,0,0.15);  
    --shadowM3ElevationLight22: 0 1px 2px 0 rgba(0,0,0,0.3);  
    --shadowM3ElevationLight4: 0 2px 3px 0 rgba(0,0,0,0.3);  
    --shadowM3ElevationLight42: 0 6px 10px 4px rgba(0,0,0,0.15);  
    --shadowM3ElevationLight5: 0 4px 4px 0 rgba(0,0,0,0.3);  
    --shadowM3ElevationLight52: 0 8px 12px 6px rgba(0,0,0,0.15);  
    --shadowM3ElevationDark1: 0 1px 2px 0 rgba(0,0,0,0.3);  
    --shadowM3ElevationDark12: 0 1px 3px 1px rgba(0,0,0,0.15);  
    --shadowM3ElevationDark2: 0 1px 2px 0 rgba(0,0,0,0.3);  
    --shadowM3ElevationDark22: 0 2px 6px 2px rgba(0,0,0,0.15);  
    --shadowM3ElevationDark3: 0 1px 3px 0 rgba(0,0,0,0.3);  
    --shadowM3ElevationDark32: 0 4px 8px 3px rgba(0,0,0,0.15);  
    --shadowM3ElevationDark4: 0 2px 3px 0 rgba(0,0,0,0.3);  
    --shadowM3ElevationDark42: 0 6px 10px 4px rgba(0,0,0,0.15);  
    --shadowM3ElevationDark5: 0 4px 4px 0 rgba(0,0,0,0.3);  
    --shadowM3ElevationDark52: 0 8px 12px 6px rgba(0,0,0,0.15);  
}