main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--sys-background);
}

h1 {
  color: var(--sys-primary);
}

.button-group {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
